@font-face {
  font-family: 'ubuntu-bold';
  src: url('../fonts/Ubuntu-Bold.ttf')
  format('truetype');
}

@font-face {
  font-family: 'ubuntu-medium';
  src: url('../fonts/Ubuntu-Medium.ttf')
  format('truetype');
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../fonts/Ubuntu-Regular.ttf')
  format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
}

button {
  border: none;
}

button:not(:disabled) {
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
